* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(0, 183, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container {
  background-color: aliceblue;
  padding: 30px;
  margin-top: 50px;
  width: 340px;
  text-align: center;
  border-radius: 15px;
}

h1 {
  font-size: 25px;
  color: #132020;
}

.button-currency {
  width: 142px;
}

#img-currencies {
  display: block;
  width: 72px;
  margin: 0 auto;
  color: #132020;
}

#img-converter {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 30px;
  color: #132020;
}

.exchange-rate {
  margin-top: 20px;
  color: #132020;
}

#menu-1,
#menu-2 {
  border-radius: 4px;
}

.boton {
  margin: 10px;
  padding: 20px 60px;
}

#creator {
  margin-top: 30px;
  font-size: 14px; /* más pequeño que el resto */
  color: #132020; /* mismo color que tu diseño */
  text-align: center; /* centrado */
}

#creator a {
  color: #132020; /* mismo color, o un azul suave */
  text-decoration: none; /* quita el subrayado */
}

#creator a:hover {
  text-decoration: underline; /* sutil efecto hover */
}

#img-converter {
  cursor: pointer;
  padding: 5px 5px;
}

#img-converter:hover {
  background-color: rgba(50, 105, 142, 0.221);
}
