* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(0, 183, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#creator {
  margin: 110px 0;
  font-size: 30px;
  font-weight: bold;
  color: #132020;
}

#container {
  background-color: aliceblue;
  padding: 30px;
  margin-top: 10px;
  width: 340px;
  text-align: center;
  border-radius: 15px;
}

h1 {
  font-size: 25px;
  color: #132020;
}

.button-currency {
  width: 140px;
}

#img-currencies {
  display: block;
  width: 60px;
  margin: 0 auto;
  color: #132020;
}

#img-converter {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 30px;
  color: #132020;
}

.exchange-rate {
  margin-top: 20px;
  color: #132020;
}
